Repository chavyleung/boxts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore: remove .prettierignore
  .prettierignore
Due: none

perf: optimize rollup config
  package.json
  packages/crawlers/core/rollup.config.js
  packages/crawlers/jable/rollup.config.js
  packages/crawlers/sehuatang/rollup.config.js
  packages/crawlers/sukebei/rollup.config.js
  yarn.lock
Due: prettier --write, sort-package-json

chore: update build output path (iCloud)
  packages/boxjs/scripts/surge/network-changed/rollup.config.js
  packages/boxjs/scripts/surge/proxy-panel/rollup.config.js
Due: prettier --write

chore: auto init tsconfig.paths.json
  package.json
  scripts/index.js
  scripts/initEnv.js
  tsconfig.paths.json
  yarn.lock
Due: prettier --write, sort-package-json

fixed(surge-network-changed): success check
  packages/boxjs/scripts/surge/network-changed/src/OnNetworkChanged.ts
Due: prettier --write

build: update output path
  packages/boxjs/scripts/surge/network-changed/rollup.config.js
  packages/boxjs/scripts/surge/proxy-panel/rollup.config.js
Due: prettier --write

chore: rename initEnv.js to prepare.js
  scripts/index.js
  scripts/prepare.js
Due: prettier --write

chore: add lerna bootstrap
  package.json
Due: sort-package-json

chore: rename prepare.js to bootstrap.js
  package.json
  scripts/bootstrap.js
  scripts/index.js
Due: prettier --write, sort-package-json

feat(surge-proxy-panel): update used format
  packages/boxjs/scripts/surge/proxy-panel/src/Panel.ts
Due: prettier --write

cancel: v2
  .gitignore
  package.json
  packages/boxjs/web/next-env.d.ts
  packages/boxjs/web/next.config.js
  packages/boxjs/web/package.json
  packages/boxjs/web/pages/_app.tsx
  packages/boxjs/web/pages/index.tsx
  packages/boxjs/web/scf_bootstrap
  packages/boxjs/web/serverless.yml
  packages/boxjs/web/src/layouts/MobileLayout/index.tsx
  packages/boxjs/web/tsconfig.json
  packages/serverless/surge/policy-subscribe/package.json
  packages/serverless/surge/policy-subscribe/rollup.config.js
  packages/serverless/surge/policy-subscribe/scf_bootstrap
  packages/serverless/surge/policy-subscribe/serverless.yml
  packages/serverless/surge/policy-subscribe/src/app.ts
  tsconfig.paths.json
  yarn.lock
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
