Repository chavyleung/boxts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

feat(core): add package @boxts/core
  packages/core/.babelrc
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/src/index.ts
  packages/core/src/types/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/wait.ts
Due: prettier --write, sort-package-json

feat(jable): add package @boxts/jable
  packages/crawlers/jable/.babelrc
  packages/crawlers/jable/__tests__/jable.spec.ts
  packages/crawlers/jable/package.json
  packages/crawlers/jable/rollup.config.js
  packages/crawlers/jable/src/index.ts
  packages/crawlers/jable/src/types.ts
Due: prettier --write, sort-package-json

feat(sukebei): add package @boxts/sukebei
  packages/crawlers/sukebei/.babelrc
  packages/crawlers/sukebei/__tests__/sukebei.spec.ts
  packages/crawlers/sukebei/package.json
  packages/crawlers/sukebei/rollup.config.js
  packages/crawlers/sukebei/src/index.ts
  packages/crawlers/sukebei/src/types.ts
Due: prettier --write, sort-package-json

feat(crawler): add package @boxts/crawler
  packages/crawlers/core/.babelrc
  packages/crawlers/core/README.md
  packages/crawlers/core/assets/jable/cmd.gif
  packages/crawlers/core/bin/jable.js
  packages/crawlers/core/bin/sukebei.js
  packages/crawlers/core/lib/jable/index.ts
  packages/crawlers/core/lib/jable/types.ts
  packages/crawlers/core/lib/sukebei/index.ts
  packages/crawlers/core/package.json
  packages/crawlers/core/rollup.config.js
  packages/crawlers/core/src/index.ts
  packages/crawlers/core/src/playwright/index.ts
  packages/crawlers/core/src/playwright/types.ts
  packages/crawlers/core/src/playwright/usePlaywright.ts
Due: prettier --write, sort-package-json

docs(crawler): 更新 README.md 示例动画的 gif 地址
  packages/crawlers/core/README.md
Due: none

chore(crawler): 更新 jable -h 帮助文档地址
  packages/crawlers/core/lib/jable/index.ts
Due: prettier --write

release(crawler): 1.0.0-alpha.24
  packages/crawlers/core/package.json
Due: sort-package-json

release(crawler): 1.0.0-alpha.25
  .prettierignore
  packages/crawlers/core/bin/jable.js
  packages/crawlers/core/bin/sukebei.js
  packages/crawlers/core/package.json
Due: prettier --write, sort-package-json

feat(crawler): 增加大小过滤器 -min 3 -max 10
  packages/crawlers/core/bin/jable.js
  packages/crawlers/core/lib/jable/index.ts
  packages/crawlers/core/lib/jable/types.ts
Due: prettier --write

release(crawler): 1.0.0-alpha.26
  packages/crawlers/core/package.json
Due: sort-package-json

chore(crawler): 更新 jable -h 帮助文案
  packages/crawlers/core/bin/jable.js
  packages/crawlers/core/lib/jable/index.ts
Due: prettier --write

release(crawler): 1.0.0-alpha.27
  packages/crawlers/core/package.json
Due: sort-package-json

feat(crawler): 调试保底过滤器的排序方式为按大小
  packages/crawlers/core/bin/jable.js
  packages/crawlers/core/lib/jable/index.ts
Due: prettier --write

release(crawler): 1.0.0-alpha.28
  packages/crawlers/core/package.json
Due: sort-package-json

chore(crawler): 更新帮助文案
  packages/crawlers/core/bin/jable.js
  packages/crawlers/core/lib/jable/index.ts
Due: prettier --write

feat(crawler): 处理广告元素
  packages/crawlers/core/bin/jable.js
  packages/crawlers/jable/src/index.ts
Due: prettier --write

release(crawler): 1.0.0-alpha.29
  packages/crawlers/core/package.json
Due: sort-package-json

chore(crawler): 移除 bin 目录的版本控制
  .gitignore
  packages/crawlers/core/bin/jable.js
  packages/crawlers/core/bin/sukebei.js
Due: prettier --write

feat(crawler): 增加 排序&分页
  packages/crawlers/core/lib/sukebei/index.ts
  packages/crawlers/core/lib/sukebei/types.ts
  packages/crawlers/sukebei/src/index.ts
  packages/crawlers/sukebei/src/types.ts
Due: prettier --write

release(crawler): 1.0.0-alpha.30
  packages/crawlers/core/package.json
  yarn.lock
Due: sort-package-json

build: support node v12
  babel.config.js
Due: prettier --write

release(crawler): 1.0.0-alpha.31
  packages/crawlers/core/package.json
Due: sort-package-json

chore(crawler): 增加 ubuntu 安装说明
  packages/crawlers/core/README.md
Due: none

release(crawler): 1.0.0-alpha.32
  packages/crawlers/core/package.json
Due: sort-package-json

v1.0.0
  lerna.json
  packages/core/package.json
  packages/crawlers/core/package.json
  packages/crawlers/jable/package.json
  packages/crawlers/sukebei/package.json
Due: sort-package-json

chore(jable): remove peerDependencies
  packages/crawlers/jable/package.json
Due: sort-package-json

chore(sukebei): remove peerDependencies
  packages/crawlers/sukebei/package.json
Due: sort-package-json

chore: remove package @boxts/core
  packages/core/.babelrc
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/src/index.ts
  packages/core/src/types/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/wait.ts
Due: prettier --write, sort-package-json

chore: add publishconfig
  packages/crawlers/core/package.json
  packages/crawlers/jable/package.json
  packages/crawlers/sukebei/package.json
Due: sort-package-json

v1.0.1
  lerna.json
  packages/crawlers/core/package.json
  packages/crawlers/jable/package.json
  packages/crawlers/sukebei/package.json
Due: sort-package-json

feat(sehuatang): add package @boxts/sehuatang
  packages/crawlers/sehuatang/.babelrc
  packages/crawlers/sehuatang/__tests__/sehuatang.spec.ts
  packages/crawlers/sehuatang/package.json
  packages/crawlers/sehuatang/rollup.config.js
  packages/crawlers/sehuatang/src/index.ts
  packages/crawlers/sehuatang/src/types.ts
Due: prettier --write, sort-package-json

feat(crawler): add cli sehuatang
  packages/crawlers/core/README.md
  packages/crawlers/core/lib/sehuatang/index.ts
  packages/crawlers/core/lib/sehuatang/types.ts
  packages/crawlers/core/package.json
  packages/crawlers/core/rollup.config.js
Due: prettier --write, sort-package-json

v1.1.3
  lerna.json
  packages/crawlers/core/package.json
  packages/crawlers/sehuatang/package.json
Due: sort-package-json

fix(sehuatang): 修复每页只取第 1 条问题
  packages/crawlers/core/lib/sehuatang/index.ts
Due: prettier --write

v1.1.4
  lerna.json
  packages/crawlers/core/package.json
Due: sort-package-json

fix(sehuatang): command not found: sehuatang
  packages/crawlers/core/package.json
Due: sort-package-json

v1.1.5
  lerna.json
  packages/crawlers/core/package.json
Due: sort-package-json

chore: add files to package.json
  packages/crawlers/core/package.json
  packages/crawlers/jable/package.json
  packages/crawlers/sehuatang/package.json
  packages/crawlers/sukebei/package.json
Due: sort-package-json

v1.1.6
  lerna.json
  packages/crawlers/core/package.json
  packages/crawlers/jable/package.json
  packages/crawlers/sehuatang/package.json
  packages/crawlers/sukebei/package.json
Due: sort-package-json

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
